
    
           
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0">
        <div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar responsive ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>
                <!--nav list begin-->
                <ul class="nav nav-list">
					<li class="active">
						<a href="/admin">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>

					
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-list"></i>
							<span class="menu-text"> Tables </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="/admin_featured">
									<i class="menu-icon fa fa-caret-right"></i>
									View Featured Equipment
								</a>

								<b class="arrow"></b>
							</li>
							
							<li class="">
								<a href="/admin_view_equipment">
									<i class="menu-icon fa fa-caret-right"></i>
									View Available Equipment
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/admin_view_all_equipments">
									<i class="menu-icon fa fa-caret-right"></i>
									View All Equipment
								</a>

								<b class="arrow"></b>
							</li>
							
							<li class="">
								<a href="/admin_my_equipment">
									<i class="menu-icon fa fa-caret-right"></i>
									View My Equipment
								</a>

								<b class="arrow"></b>
							</li>

							<!--<li class="">
								<a href="jqgrid.html">
									<i class="menu-icon fa fa-caret-right"></i>
									jqGrid plugin
								</a>

								<b class="arrow"></b>
							</li> -->
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text"> Forms </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="/admin_add_equipment">
									<i class="menu-icon fa fa-caret-right"></i>
									Add new Equipment
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/admin_add_equipment_type">
									<i class="menu-icon fa fa-caret-right"></i>
									Add Equipment Type
								</a>

								<b class="arrow"></b>
							</li>

							<!--
							<li class="">
								<a href="form-wizard.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Wizard &amp; Validation
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="wysiwyg.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Wysiwyg &amp; Markdown
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="dropzone.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Dropzone File Upload
								</a>

								<b class="arrow"></b>
							</li> -->
						</ul>
					</li>

				
				</ul><!-- /.nav-list -->
                
                <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>  
                
                
                <!--end nav list-->
                
            </div>
            </div>
            
        </div><!--end col 4 here-->
        <!--main content begin here-->
        
       
        
        
        
        <!--end main content here-->    
       
    
    
    
