.upper-nav {
    background: #438EB9!important;
}
.custom-bg {
    background: #f5f5f5!important;
}
.sidebar {
    width: 100%!important;
    float:none!important;
    
}
.custom-bg-select {
    background: #fff!important;
    color: #000!important;
}